@charset "utf-8";

html *,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Noto Sans','Noto Sans JP', sans-serif;
  background-color: #FEFBFB;
  color: #3d3d3d;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 32px;
}

header {
  background-color: #FFF2F2;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 48px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #E4626E;
  font-size: 24px;
}

.input-area {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  outline: none;
  font-size: 16px;
}

input[type=text] {
  width: 85%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

::placeholder {
  color: #d5d5d5;
}

.add-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  background-color: #E4626E;
  cursor: pointer;
}

.add-btn:hover {
  opacity: .7;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

.added-area li {
  list-style: none;
  font-size: 16px;
}
